<!DOCTYPE html>
<html lang="zh" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录页面</title>
    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}" />

    <script type="text/javascript" src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js" th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" src="../../static/plugin/jquery-validation-1.17.0/jquery.validate.js" th:src="@{/plugin/jquery-validation-1.17.0/jquery.validate.js}"></script>
    <style type="text/css">
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>


</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/security/register}"> 注册 </a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">

    <div class="starter-template">
        <p th:if="${param.logout}" class="bg-warning">已成功注销</p>

        <p th:if="${message}" class="bg-warning" th:text="${message}"></p>

        <p th:if="${param.error}" class="bg-danger" th:text="${errorCode}">有错误，请重试</p>

        <p th:if="${param.error}" class="bg-danger" th:text="${errorMessage}">有错误，请重试</p>

        <h2>使用账号密码登录</h2>
        <form name="form" th:action="@{/security/login}" action="/security/login" method="POST">
            <div class="form-group">
                <label for="username">账号</label>
                <input type="text" id="username"  class="form-control" name="username" value="" th:value="${username}" placeholder="账号" />
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" id="password" class="form-control" name="password" th:value="${password}" placeholder="密码" />
            </div>

            <div id="imageCodeArea">
                <input type="text" maxlength="4" id="imageCode" name="imageCode" th:value="${imageCode}" data-prompt-position="inline" data-prompt-target="authCodeErrorMsg"  data-validation-engine="validate[required]" placeholder="请输入随机验证码" />
                <input type="hidden" name="imageCodeType" value="personLogin"/>
                <img id="changeCodeBtn" class="code" alt="验证码" title="看不清，换一张" src="/imageCode/getCode?imageCodeType=personLogin" + new Date().getTime() />
            </div>

            <input type="submit" id="login" value="Login" class="btn btn-primary" />
        </form>
    </div>

</div>



<script type="text/javascript"  th:inline="javascript">
    $( document ).ready( function () {
        initFoucus();

        var loginFailFlag = [[${loginFailFlag}]];
        displayImageCode(loginFailFlag);
    } );

    $("#username").blur(function(){
        var username =$("#username").val();
        if(null == username || username=="" || username=='账号'){
            return
        };

        var loginFailFlag = true;
        $.ajaxSettings.async = false;
        $.get( "/security/checkUsername", {
            username: username
        }, function( data ) {
            loginFailFlag = data.result;
        },'json' );

        displayImageCode(loginFailFlag);
    });

    function displayImageCode(flag) {
        if (flag) {
            $("#imageCodeArea").show();
            $("#changeCodeBtn").click(function () {
                $(this).attr("src", "/imageCode/getCode?imageCodeType=personLogin" + new Date().getTime());
            });
        }else{
            $("#imageCodeArea").hide();
        };
        
    }
    
    function initFoucus() {
        var errorCode = [[${errorCode}]];
        $("#username")[0].focus();

        if(errorCode == 'BadCredentialsException'){
            $("#password")[0].focus();
            $("#password").val();
        }
        if(errorCode == 'ImageCodeException'){
            $("#imageCode")[0].focus();
            $("#imageCode").val();
        }
    }


</script>


</body>
</html>