<!DOCTYPE html>
<html lang="zh" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录页面</title>
    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}" />

    <script type="text/javascript" src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js" th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" src="../../static/plugin/jquery-validation-1.17.0/jquery.validate.js" th:src="@{/plugin/jquery-validation-1.17.0/jquery.validate.js}"></script>
    <style type="text/css">
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>


</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/security/register}"> 注册 </a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">

    <div class="starter-template">
        <p th:if="${param.logout}" class="bg-warning">已成功注销</p>

        <p th:if="${message}" class="bg-warning" th:text="${message}"></p>

        <p th:if="${param.error}" class="bg-danger" th:text="${errorCode}">有错误，请重试</p>

        <p th:if="${param.error}" class="bg-danger" th:text="${errorMessage}">有错误，请重试</p>

        <h2>使用账号密码登录</h2>
        <form id="loginForm" name="loginForm" th:action="@{/security/login}" action="/security/login" method="POST">
            <div class="form-group">
                <label for="username">账号</label>
                <input type="text" id="username"  class="form-control" name="username" value="" th:value="${username}"  placeholder="账号" />
            </div>
            <div id="passwordArea" class="form-group">
                <label for="password">密码</label>
                <input type="password" id="password" class="form-control" name="password" th:value="${password}" placeholder="密码" />
            </div>

            <input type="submit" id="login" value="Login" class="btn btn-primary" />
        </form>
    </div>

</div>



<script type="text/javascript"  th:inline="javascript">
    $( document ).ready( function () {
        var loginFailFlag = [[${loginFailFlag}]];

        displayImageCode(loginFailFlag);

        initFoucus();

        addCheck();
    } );

    function addCheck() {
        $( "#loginForm" ).validate( {
            rules: {
                username: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                password: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                }
            },
            messages: {
                username: {
                    required: "请输入登录名",
                    minlength: "登录名至少3个字符",
                    maxlength: "登录名最多20个字符"
                },
                password: {
                    required: "请输入密码",
                    minlength: "密码至少3个字符",
                    maxlength: "密码最多20个字符"
                }
            },
            errorElement: "em",
            errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            }
        });

        if ($("#imageCodeArea").length > 0) {
            $("#imageCode").rules("add", {required: true, messages: {required: "请输入验证码"}});
        }
    }

    $("#username").blur(function(){
        var username =$("#username").val();
        if(null == username || username==""){
            return
        };

        var loginFailFlag = true;
        $.ajaxSettings.async = false;
        $.get( "/security/checkUsername", {
            username: username
        }, function( data ) {
            loginFailFlag = data.result;
        },'json' );
        displayImageCode(loginFailFlag);
        addRule();
    });

    function displayImageCode(flag) {
        //需要图形验证码校验
        if (flag) {
            //没有添加图形验证码区域
            if ($("#imageCodeArea").length<=0) {
                var html = '<div id="imageCodeArea">';
                html += '<input type="text" maxlength="4" id="imageCode" name="imageCode" th:value="${imageCode}" data-validation-engine="validate[required]" placeholder="请输入随机验证码" />';
                html += '<input type="hidden" name="imageCodeType" value="personLogin"/>';
                html += '<img id="changeCodeBtn" class="code" alt="验证码" title="看不清，换一张"/>';
                html += '</div>';
                $('#passwordArea').after(html);
                $("#changeCodeBtn").click(function () {
                    $(this).attr("src", "/imageCode/getCode?imageCodeType=personLogin&date" + new Date().getTime());
                });
            }
            //自动获取图形验证码
            $('#changeCodeBtn').trigger("click");
        }
    }



    function initFoucus() {
        var errorCode = [[${errorCode}]];

        if(errorCode == 'BadCredentialsException'){
            $("#username")[0].focus();
            $("#username").val();
        }else if(errorCode == 'BadCredentialsException'){
            $("#password")[0].focus();
            $("#password").val();
        }else if(errorCode == 'ImageCodeException'){
            $("#imageCode")[0].focus();
            $("#imageCode").val();
        }else {
            $("#username")[0].focus();
        }
    }

    function addRule() {
        if ($("#imageCodeArea").length > 0) {
            $("#imageCode").rules("add", {required: true, messages: {required: "请输入验证码"}});
        }
    }
</script>

</body>
</html>