<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content=""/>

    <title>Title</title>

    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css"
          th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/custom.common.css" th:href="@{/css/custom.common.css}">

</head>
<body>


<div th:fragment="pagination">
    <ul class="pagination pagination-sm" data-th-if="${model.page.totalPages gt 0 and  model.page.totalPages le 7}" >
        <!-- 上一页 -->
        <li class="page-item" data-th-classappend="${model.page.first} ? 'disabled' : ''">
            <a th:href="@{${model.searchParams}(pageNumber=${model.page.number} - 1)}" class="page-link">
                <span>«</span>
            </a>
        </li>

        <!-- 迭代生成页码 -->
        <li class="page-item" data-th-each="i : ${#numbers.sequence(1, model.page.totalPages)}"
            data-th-classappend="${(model.page.number + 1) eq i} ? 'active' : ''" >
            <a class="page-link" th:href="@{${model.searchParams}(pageNumber=(${i}-1))}">
                <span data-th-text="${i}"></span>
            </a>
        </li>

        <!-- 下一页 -->
        <li class="page-item" data-th-classappend="${model.page.last} ? 'disabled' : ''">
            <a th:href="@{${model.searchParams}(pageNumber=${model.page.number} + 1)}" class="page-link">
                <span>»</span>
            </a>
        </li>
    </ul>

    <ul class="pagination pagination-sm" data-th-if="${model.page.totalPages gt 7}" >
        <!-- 上一页 -->
        <li class="page-item" data-th-classappend="${model.page.first} ? 'disabled' : ''">
            <a th:href="@{${model.searchParams}(pageNumber=${model.page.number} - 1)}" class="page-link">
                <span>«</span>
            </a>
        </li>

        <!-- 首页 -->
        <li class="page-item" data-th-classappend="${(model.page.number + 1) eq 1} ? 'active' : ''" >
            <a th:href="@{${model.searchParams}(pageNumber=0)}" class="page-link">1</a>
        </li>

        <li class="page-item disabled" data-th-if="${(model.page.number + 1) ge 4}">
            <a href="javascript:void(0);" class="page-link">
                <span aria-hidden="true">...</span>
            </a>
        </li>

        <!-- 当前页面小于等于4 -->
        <li class="page-item" data-th-if="${((model.page.number + 1) le 4) and (model.page.number != 3)}" data-th-each="i : ${#numbers.sequence(2,5)}"
            data-th-classappend="${(model.page.number + 1) eq i} ? 'active' : ''" >
            <a class="page-link" th:href="@{${model.searchParams}(pageNumber=(${i}-1))}">
                <span data-th-text="${i}"></span>
            </a>
        </li>

        <!-- 迭代生成页码 -->
        <li class="page-item" data-th-if="${((model.page.number + 1) ge 4) and ((model.page.totalPages-(model.page.number + 1)) gt 4)}" data-th-each="i : ${#numbers.sequence(model.page.number, model.page.number + 2)}"
            data-th-classappend="${(model.page.number + 1) eq i} ? 'active' : ''" >
            <a class="page-link" th:href="@{${model.searchParams}(pageNumber=(${i}-1))}">
                <span data-th-text="${i}"></span>
            </a>
        </li>

        <!-- 当前页面与最大页数相差在4以内 -->
        <li class="page-item" data-th-if="${(model.page.totalPages-(model.page.number + 1)) le 4}" data-th-each="i : ${#numbers.sequence(model.page.totalPages-4,model.page.totalPages-1)}"
            data-th-classappend="${(model.page.number + 1) eq i} ? 'active' : ''" >
            <a class="page-link" th:href="@{${model.searchParams}(pageNumber=(${i}-1))}">
                <span data-th-text="${i}"></span>
            </a>
        </li>


        <li class="page-item disabled"  data-th-if="${(model.page.totalPages-(model.page.number + 1)) gt 4}">
            <a href="javascript:void(0);" class="page-link">
                <span aria-hidden="true">...</span>
            </a>
        </li>

        <!-- 最后一页 -->
        <li class="page-item" data-th-classappend="${(model.page.number + 1) eq model.page.totalPages} ? 'active' : ''" >
            <a th:href="@{${model.searchParams}(pageNumber=${model.page.totalPages}-1)}" class="page-link" >[[${model.page.totalPages}]]</a>
        </li>

        <!-- 下一页 -->
        <li class="page-item" data-th-classappend="${model.page.last} ? 'disabled' : ''">
            <a th:href="@{${model.searchParams}(pageNumber=${model.page.number} + 1)}" class="page-link">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</div>








<script src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js"
        th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>

<script type="text/javascript" src="../../static/plugin/jquery-validation-1.17.0/jquery.validate.min.js"
        th:src="@{/plugin/jquery-validation-1.17.0/jquery.validate.min.js}"></script>

<script src="../../static/plugin/bootstrap-3.3.7/js/bootstrap.min.js"
        th:src="@{/plugin/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>