<!DOCTYPE html>
<html lang="zh" xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>图片上传前的预览——plupload演示demo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css"  th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/customized.css" th:href="@{/css/customized.css}"/>
    <link type="text/css" rel="stylesheet"  href="../../static/plugin/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css" th:href="@{/plugin/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css}">

    <script type="text/javascript" src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js" th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" src="../../static/plugin/plupload/plupload.full.min.js" th:src="@{/plugin/plupload/plupload.full.min.js}"></script>
    <script type="text/javascript" src="../../static/plugin/plupload/i18n/zh_CN.js" th:src="@{/plugin/plupload/i18n/zh_CN.js}"></script>
    <script type="text/javascript" src="../../static/plugin/plupload/jquery.plupload.queue/jquery.plupload.queue.min.js" th:src="@{/plugin/plupload/jquery.plupload.queue/jquery.plupload.queue.min.js}"></script>

    <style>
        body{ font-size: 12px;}
        body,p,div{ padding: 0; margin: 0;}
        .wraper{ padding: 30px 0;}
        .btn-wraper{ text-align: center;}
        .btn-wraper input{ margin: 0 10px;}
        #file-list{ width: 350px; margin: 20px auto;}
        #file-list li{ margin-bottom: 10px;}
        .file-name{ line-height: 30px;}
        .progress{ height: 4px; font-size: 0; line-height: 4px; background: orange; width: 0;}
        .tip1{text-align: center; font-size:14px; padding-top:10px;}
        .tip2{text-align: center; font-size:12px; padding-top:10px; color:#b00}
        .catalogue{ position: fixed; _position:absolute; _width:200px; left: 0; top: 0; border: 1px solid #ccc;padding: 10px; background: #eee}
        .catalogue a{ line-height: 30px; color: #0c0}
        .catalogue li{ padding: 0; margin: 0; list-style: none;}

        .plupload_container{ padding:0;}

    </style>
</head>

<body>
<div th:replace="example/fragments :: navbar"></div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">图片</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning" role="alert">只允许选取jpg,gif,png,bmp格式的图片文件和rar格式的压缩文件，且文件体积不能超过10M，而且不允许选择重复的文件</div>
                    <div class="btn-wraper">
                        <input type="button" class="btn btn-primary" value="选择文件..." id="uploadBtn" />
                        <input type="button" class="btn btn-info" value="开始上传" id="upload-btn" />
                    </div>
                    <ul id="file-list"></ul>
                    <ul id="img-list" style="overflow: hidden; padding: 0;"></ul>
                </div>
            </div>
        </div>
    </div>

sssddd

    <p id="sgf1" th:text="${_csrf.headerName}">11</p>

    <p th:text="${_csrf.token}">11</p>

    <br/>
    <input name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <!--<input id="csrf" type="hidden"-->
           <!--th:name="${_csrf.parameterName}"-->
           <!--th:value="${_csrf.token}" />-->

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div style="width:100%; margin:0px auto;">
                    <div id="uploader">
                        <p>您的浏览器未安装 Flash, Silverlight, Gears, BrowserPlus 或者支持 HTML5 .</p>
                    </div>
                    <br>
                    <input value="继续上传" class="btn btn-primary" id="Reload" type="button">
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="example/fragments :: bottom"></div>
<script>
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });


    var uploader = new plupload.Uploader( { //实例化一个plupload上传对象
        browse_button: 'uploadBtn',
        url: '/localUpload',
        multipart: true,
        runtimes: 'html5,html4,flash,silverlight',
        flash_swf_url: '/plugin/plupload/Moxie.swf',
        multipart_params: {
            type: 'content',
            '_csrf':token
        },
        silverlight_xap_url: '/plugin/plupload/Moxie.xap',
        filters: {
            mime_types: [ {
                title: "Image files",
                extensions: "jpg,gif,png,jpeg"
            } ],
            max_file_size: '10mb', //最大只能上传10mb的文件
            prevent_duplicates: false //不允许选取重复文件
        }
    } );

    uploader.init(); //初始化

    //绑定文件添加进队列事件
    uploader.bind( 'FilesAdded', function( uploader, files ) {
        for( var i = 0, len = files.length; i < len; i++ ) {
            uploader.start(); //开始上传
        }
    } );

    //绑定文件上传进度事件
    uploader.bind( 'Error', function( uploader, errObject ) {
        if( errObject.code == -601 )
            alert( '上传失败：文件类型错误' );
        else if( errObject.code == -200 )
            alert( '上传失败：网络错误' );
        else if( errObject.code == -600 )
            alert( '上传失败：文件不能超过10M' );
    } );

    uploader.bind( 'FileUploaded', function( uploader, file, responseObject ) {
        var responseBody = responseObject.response;
        var json;
        try {
            json = $.parseJSON( responseBody );
        } catch( e ) {
            alert( '上传失败：服务器响应格式不正确' );
            return;
        }
        // 成功.
        if( json.url ) {
            showImage( json.url );
        } else {
            alert( result.message );
        }
    } );

    function showImage( url ) {
        var el = '<div style="float:left;margin:6px;"><img height="100" src="' + url + '"></div>';
        $( '#img-list' ).append( el );
    }


    // Initialize the widget when the DOM is ready 大文件分片上传
    $(function() {
        // Setup html5 version
        function plupload(){
            $("#uploader").pluploadQueue({
                // General settings
                runtimes : 'flash,html5,gears,browserplus,silverlight,html4',
                url : "/localUpload",
                //unique_names: true,
                chunk_size : '1mb',
                //rename : true,
                dragdrop: true,
                filters : {
                    // Maximum file size
                    max_file_size : '100mb',
                    // Specify what files to browse for
                    mime_types: [
                        {title : "Image files", extensions : "jpg,gif,png"},
                        {title : "Zip files", extensions : "zip"}
                    ]
                },
                // Resize images on clientside if we can
                resize: {
                    width : 200,
                    height : 200,
                    quality : 90,
                    crop: true
                    // crop to exact dimensions
                },             // Flash settings
                flash_swf_url : '/plugin/plupload/Moxie.swf',
                // Silverlight settings
                silverlight_xap_url : '/plugin/plupload/Moxie.xap' ,
                // 参数
                multipart_params: {
                    'user': 'Rocky',
                    'time': '2012-06-12'
                }

            });
        }

        plupload();

        $('#Reload').click(function(){
            plupload();
        });
    });

</script>

</body>

</html>