<!DOCTYPE html>
<html lang="zh" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css"  th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/customized.css" th:href="@{/plugin/css/customized.css}"/>

    <script type="text/javascript" src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js" th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" src="../../static/plugin/bootstrap-3.3.7/js/bootstrap.js" th:src="@{/plugin/bootstrap-3.3.7/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../../static/plugin/cxSelect/js/jquery.cxselect.js" th:src="@{/plugin/cxSelect/js/jquery.cxselect.js}"></script>

    <title>Title</title>
</head>
<body>

<div th:replace="example/fragments :: navbar"></div>
<div class="container">
    <br><br>
    <fieldset id="city_china" class="form-horizontal">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <lable class="col-sm-4 col-md-3 col-lg-2 control-label">省份</lable>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <select class="province other form-control" data-value="河北省">
                            <option>请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <lable class="col-sm-4 col-md-3 col-lg-2 control-label">城市</lable>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <select class="city form-control" data-value="石家庄市">
                            <option>请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <lable class="col-sm-4 col-md-3 col-lg-2 control-label">地区</lable>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <select class="area form-control" data-value="长安区">
                            <option>请选择</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div th:replace="example/fragments :: bottom"></div>
</body>




<script>
    /*<![CDATA[*/
    (function() {
        urlChina = "../../plugin/cxSelect/js/cityData.min.json";

        $.cxSelect.defaults.url = urlChina;
        // 默认
        $('#city_china').cxSelect({
            url: urlChina,
            selects: ['province', 'city', 'area'],
            nodata: 'none'
        });
    })();
    /*]]>*/
    </script>
</html>