<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head (title)">
		<title th:text="${title}">Fragments</title>
		<link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css"  th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}"/>
	</head>

	<body>
	<div class="container">
		<div th:fragment="navbar" class="navbar">
			<div class="navbar-inverse">
				<a class="brand" href="http://thymeleaf.org">Thymeleaf</a>
				<ul class="nav">
					<li><a th:href="@{/}"> Messages </a></li>
				</ul>
			</div>
		</div>
	</div>
	</body>
</html>
