<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="UTF-8">
    <meta name="description" content="统一异常处理"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <title>统一异常处理</title>

    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css"
          th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/custom.common.css"
          th:href="@{/css/custom.common.css}">
</head>
<body>
<div class="container">
    <div th:replace="/layout/header :: header"></div>

    <div class="panel panel-default">
        <div class="panel-heading">统一异常处理</div>

        <ul class="list-group">
            <li class="alert alert-warning">
                <span class="close" data-dismiss="alert">&times;</span>
                <label>响应码：</label>
                <p th:text="${status}"></p>
            </li>
            <li class="alert alert-danger">
                <span class="close" data-dismiss="alert">&times;</span>
                <label>基本信息：</label>
                <p th:text="${message}"></p>
            </li>
            <li class="alert alert-warning">
                <span class="close" data-dismiss="alert">&times;</span>
                <label>出错路径</label>
                <p class="" th:text="${path}"></p>
            </li>
            <li class="alert alert-warning">
                <span class="close" data-dismiss="alert">&times;</span>
                <label>错误码：</label>
                <p th:text="${errorCode}"></p>
            </li>
            <li class="alert alert-danger">
                <span class="close" data-dismiss="alert">&times;</span>
                <label>错误详情：</label>
                <p th:text="${trace}"></p>
            </li>
        </ul>

    </div>


</div>

<script src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js"
        th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>

<script type="text/javascript" src="../../static/plugin/jquery-validation-1.17.0/jquery.validate.js"
        th:src="@{/plugin/jquery-validation-1.17.0/jquery.validate.js}"></script>

<script src="../../static/plugin/bootstrap-3.3.7/js/bootstrap.min.js"
        th:src="@{/plugin/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>