<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="首页"/>

    <title>首页</title>

    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css"
          th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/custom.common.css" th:href="@{/css/custom.common.css}">

</head>
<body>


<div class="container main">

    ssdddd


</div>


<script src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js"
        th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>

<script type="text/javascript" src="../../static/plugin/jquery-validation-1.17.0/jquery.validate.min.js"
        th:src="@{/plugin/jquery-validation-1.17.0/jquery.validate.min.js}"></script>

<script src="../../static/plugin/bootstrap-3.3.7/js/bootstrap.min.js"
        th:src="@{/plugin/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>