<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>创建权限</title>
    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css"
          th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/custome.css"
          th:href="@{/css/custome.css}">
</head>
<body>
<div class="container">
    <div th:replace="/layout/header :: header"></div>

    <ol class="breadcrumb">
        <li><a th:href="@{/role/toQueryList}">用户管理</a></li>
        <li class="active">创建角色</li>
    </ol>

    <form id="roleCreateForm" method="post" class="form-horizontal" th:action="@{/role/create}">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">角色基本信息</div>
                    <div class="form-group hidden">
                        <lable class="col-md-3 control-label">角色Id</lable>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id" name="id" th:value="${authRole.id}"
                                   placeholder="角色Id"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <lable class="col-md-3 control-label">角色名称</lable>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="name" name="name"
                                   th:value="${authRole.name}" placeholder="角色名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <lable class="col-md-3 control-label">摘要说明</lable>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="summary" name="summary" th:value="${authRole.summary}"
                                   placeholder="摘要说明"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">角色关联的权限</div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>权限名称</th>
                            <th>摘要</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="permission,permissionStat:${authRole.permissions}">
                            <td th:if="${permission.isSelected()}">
                                <input type="checkbox" checked th:name="permissionIds" th:value="${permission.id}"/>
                            </td>
                            <td th:unless="${permission.isSelected()}">
                                <input type="checkbox" th:name="permissionIds" th:value="${permission.id}"/>
                            </td>

                            <td th:text="${permission.name}"></td>
                            <td th:text="${permission.summary}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-sm" th:text="创建角色"></button>
        </div>
    </form>

    <div th:replace="/layout/footer :: footer"></div>
</div>

<script src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js"
        th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>

<script type="text/javascript" src="../../static/plugin/jquery-validation-1.17.0/jquery.validate.js"
        th:src="@{/plugin/jquery-validation-1.17.0/jquery.validate.js}"></script>

<script src="../../static/plugin/bootstrap-3.3.7/js/bootstrap.min.js"
        th:src="@{/plugin/bootstrap-3.3.7/js/bootstrap.min.js}"></script>

<script type="text/javascript">
    $().ready( function () {
        $( "#roleCreateForm" ).validate( {
            rules: {
                name: "required"
            },
            messages: {
                name: "请输入权限名称"
            }
        } );
    } );
</script>
</body>
</html>