<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>权限列表</title>

    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css"
          th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/custom.common.css"
        th:href="@{/css/custom.common.css}">

    <style type="text/css">
        .table tr th,.table tr td{
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }
        .table{
            table-layout:fixed;
        }
    </style>


</head>
<body>

<div th:replace="/layout/header :: header"></div>

<div class="container main">
    <ol class="breadcrumb">
        <li class="active">权限管理</li>
    </ol>

    <div class="panel panel-default">
        <form class="form-inline" th:action="@{/permission/toQueryList}" th:method="get">
            <div class="form-group">
                <label for="name">权限名称</label>
                <input type="text" class="form-control" name="search_LIKE_name" id="name" placeholder="权限名称" th:value="${param.search_LIKE_name}">
            </div>
            <div class="form-group">
                <label for="url">url</label>
                <input type="text" class="form-control" name="search_LIKE_url" id="url" placeholder="url" th:value="${param.search_LIKE_url}">
            </div>
            <span >
                <button type="submit" class="btn btn-primary">查询</button>
            </span>
        </form>
        <a th:href="@{/permission/toCreate}" class="btn btn-primary pull-right">创建权限</a>
        <div class="panel-heading" th:text="权限列表"></div>
        <table class="table table-hover table-bordered text-nowrap">
            <thead>
            <tr>
                <th class="hidden">ID</th>
                <th class="col-md-3">权限名称</th>
                <th class="col-md-2">权限值</th>
                <th class="col-md-2">url</th>
                <th class="col-md-3">摘要说明</th>
                <th class="col-md-2">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="permission,stat:${model.page}">
                <td class="hidden" th:name="permission.id" th:text="${permission.id}"></td>
                <td th:title="${permission.name}" th:text="${permission.name}"></td>
                <td th:title="${permission.value}" th:text="${permission.value}"></td>
                <td th:title="${permission.url}" th:text="${permission.url}"></td>
                <td th:title="${permission.summary}" th:text="${permission.summary}"></td>
                <td>
                    <a class="btn btn-primary btn-sm"  th:href="@{/permission/toUpdate(id=${permission.id})}">修改</a>
                    <a class="btn btn-danger btn-sm" onclick="del(this)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="/layout/pagination :: pagination"></div>

</div>

<div th:replace="/layout/footer :: footer"></div>

<script type="text/javascript" src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js"
        th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>
<script type="text/javascript" src="../../static/plugin/jquery-validation-1.17.0/jquery.validate.js"
        th:src="@{/plugin/jquery-validation-1.17.0/jquery.validate.js}"></script>
<script type="text/javascript" src="../../static/plugin/bootstrap-3.3.7/js/bootstrap.js"
        th:src="@{/plugin/bootstrap-3.3.7/js/bootstrap.js}"></script>

<script type="text/javascript" th:inline="javascript">
    function del(obj) {
        var csrfValue = [[${_csrf.token}]];

        var temp = $(obj).parent().parent();
        var id = temp.find("[name='permission.id']").text();

        $.post({
            url: '/permission/deleteByAjax',
            data: { _csrf: csrfValue,id:id },
            //dataType: "json",
            success:function (data) {
                if(data.errorMessage){
                    alert(data.errorMessage);
                }else {
                    location.reload();
                }
            },
            error:function (data) {
                alert(id + "_删除权限出错!");
                console.log(id + "_删除权限出错!")
            }
        })
    }
</script>

</body>
</html>