<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="demo/fragments::head('crud list')">


</head>

<body>

<div class="container">
    <div th:replace="demo/fragments :: navbar"></div>
    <!--title-->
    <div style="overflow: hidden">
        <h2 class="pull-left">Messages : View all</h2>
        <h3 class="pull-right">
            <a href="form.html" class="btn btn-info" th:href="@{/demo/crud/create}">Create Message</a>
        </h3>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Created</th>
                <th>Summary</th>
                <th>Text</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${messages.empty}" class="has-error">
                <td colspan="4" class="text-center control-label">No messages</td>
            </tr>
            <tr th:each="message : ${messages}">
                <td th:text="${message.id}">1</td>
                <td th:text="${#calendars.format(message.created)}">July 11,2012 2:17:16 PM CDT</td>
                <td><a href="view.html" th:href="@{'/' + ${message.id}}" th:text="${message.summary}"> The summary </a></td>
                <td th:text="${message.text}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div th:replace="demo/fragments :: bottom"></div>
</body>
</html>
