<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Template</title>
    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css"  th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/customized.css" th:href="@{/css/customized.css}"/>

    <link rel="stylesheet" href="../../static/plugin/kindeditor/themes/default/default.css" th:href="@{/plugin/kindeditor/themes/default/default.css}"/>
    <link rel="stylesheet" href="../../static/plugin/kindeditor/plugins/code/prettify.css" th:href="@{/plugin/kindeditor/plugins/code/prettify.css}" />
    <script type="text/javascript" src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js" th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" src="../../static/plugin/bootstrap-3.3.7/js/bootstrap.js" th:src="@{/plugin/bootstrap-3.3.7/js/bootstrap.js}"></script>

    <script type="text/javascript" src="../../static/plugin/jquery-validation-1.17.0/jquery.validate.js" th:src="@{/plugin/jquery-validation-1.17.0/jquery.validate.js}"></script>

    <link rel="stylesheet" href="../../static/plugin/datetimepicker/bootstrap-datetimepicker.min.css" th:href="@{/plugin/datetimepicker/bootstrap-datetimepicker.min.css}" />
    <script type="text/javascript" src="../../static/plugin/datetimepicker/bootstrap-datetimepicker.js" th:src="@{/plugin/datetimepicker/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" src="../../static/plugin/datetimepicker/bootstrap-datetimepicker.zh-CN.js" th:src="@{/plugin/datetimepicker/bootstrap-datetimepicker.zh-CN.js}"></script>

    <script type="text/javascript" src="../../static/plugin/cxSelect/js/jquery.cxselect.js" th:src="@{/plugin/cxSelect/js/jquery.cxselect.js}"></script>

    <script type="text/javascript" src="../../static/plugin/kindeditor/kindeditor-all.js" th:src="@{/plugin/kindeditor/kindeditor-all.js}"></script>
    <script type="text/javascript" src="../../static/plugin/kindeditor/lang/zh-CN.js" th:src="@{/plugin/kindeditor/lang/zh-CN.js}"></script>
    <script type="text/javascript" src="../../static/plugin/kindeditor/plugins/code/prettify.js" th:src="@{/plugin/kindeditor/plugins/code/prettify.js}"></script>
</head>

<body>
<div th:replace="demo/fragments :: navbar('/demo/template')"></div>
<div class="container">
    <div class="panel-body"></div>
    <div class="panel panel-default">
            <div class="panel-body">
                <div class="x-mod-title">
                    <h3><span class="label label-default">Messages:View all</span></h3>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <form id="signupForm" method="post" class="form-horizontal" action="">
                            <div class="form-group">
                                <lable class="col-sm-3 col-md-4 control-label">First name</lable>
                                <div class="col-sm-9 col-md-8">
                                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <lable class="col-sm-3 col-md-4 control-label">Last name</lable>
                                <div class="col-sm-9 col-md-8">
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <lable class="col-sm-3 col-md-4 control-label">Username</lable>
                                <div class="col-sm-9 col-md-8">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
                                </div>
                            </div>
                            <div class="form-group">
                                <lable class="col-sm-3 col-md-4 control-label">Email</lable>
                                <div class="col-sm-9 col-md-8">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <lable class="col-sm-3 col-md-4 control-label">Password</lable>
                                <div class="col-sm-9 col-md-8">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <lable class="col-sm-3 col-md-4 control-label">Confirm password</lable>
                                <div class="col-sm-9 col-md-8">
                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-5 col-sm-offset-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="agree" name="agree" th:value="agree">请同意协议
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-4 text-center">
                                    <button type="submit" class="btn btn-primary" name="signup" th:value="确认">&nbsp;&nbsp;确&nbsp;认&nbsp;&nbsp;</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <table class="table table-striped table-hover">
                                <thead class="panel-heading">
                                <tr>
                                    <th>ID</th>
                                    <th>Created</th>
                                    <th>Summary</th>
                                    <th>Text</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>001</td>
                                    <td>zhangsan</td>
                                    <td>zhangsan</td>
                                    <td>zhangsan</td>
                                </tr>
                                <tr>
                                    <td>001</td>
                                    <td>zhangsan</td>
                                    <td>zhangsan</td>
                                    <td>zhangsan</td>
                                </tr>
                                <tr>
                                    <td>001</td>
                                    <td>zhangsan</td>
                                    <td>zhangsan</td>
                                    <td>zhangsan</td>
                                </tr>
                                <tr>
                                    <td>001</td>
                                    <td>zhangsan</td>
                                    <td>zhangsan</td>
                                    <td>zhangsan</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="panel-heading text-right">
                                <ul class="pagination pagination-sm x-margin0">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="x-mod-title">
                        <h3><span class="label label-default">DateTime</span></h3>
                    </div>
                    <form th:action="@{/testPostDate}" class="form-horizontal"  method="post">
                        <div class="form-group">
                            <lable class="col-sm-3 col-md-4 control-label">DateTime Picking</lable>
                            <div class="col-sm-9 col-md-8">
                                <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                    <input class="form-control" size="16" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <lable class="col-sm-3 col-md-4 control-label">Date Picking</lable>
                            <div class="col-sm-9 col-md-8">
                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="chooseDate" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" id="currentDate" name="currentDate" size="16" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="chooseDate" value="" name="chooseDate"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <lable class="col-sm-3 col-md-4 control-label">Time Picking</lable>
                            <div class="col-sm-9 col-md-8">
                                <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                    <input class="form-control" size="16" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input3" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-4 text-center">
                                <button type="submit" class="btn btn-primary" name="signup" th:value="确认">&nbsp;&nbsp;确&nbsp;认&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <lable class="row col-sm-4 col-md-7 text-right">TimePicking：</lable>
                            <span class="col-sm-8 col-md-5 x-text-ellipsis">05 九月 5213-0825 钐午</span>
                        </div>
                        <div class="col-sm-6">
                            <lable class="row col-sm-4 col-md-7 text-right">DatePicking：</lable>
                            <span class="col-sm-8 col-md-5">2017-06-27</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <lable class="row col-sm-4 col-md-7 text-right">TimePicking：</lable>
                            <span class="col-sm-8 col-md-5">09:15</span>
                        </div>
                        <div class="col-sm-6">
                            <lable class="row col-sm-4 col-md-7 text-right">ChoosedDate：</lable>
                            <span class="col-sm-8 col-md-5">2017-06-27</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="x-mod-title">
                        <h3><span class="label label-default">RichText</span></h3>
                    </div>
                    <textarea name="content1" cols="100" rows="8" style="width:100%;height:300px;visibility:hidden;"></textarea>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary" name="signup" th:value="确认">&nbsp;&nbsp;确&nbsp;认&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <textarea name="content2" cols="100" rows="8" style="width:100%;height:300px;visibility:hidden;"></textarea>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary" name="signup" th:value="确认">&nbsp;&nbsp;确&nbsp;认&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="x-mod-title">
                        <h3><span class="label label-default">Linkage</span></h3>
                    </div>
                    <fieldset id="city_china" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <lable class="col-sm-4 col-md-3 col-lg-2 control-label">省份</lable>
                                    <div class="col-sm-8 col-md-9 col-lg-10">
                                        <select class="province other form-control" data-value="河北省">
                                            <option>请选择</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <lable class="col-sm-4 col-md-3 col-lg-2 control-label">城市</lable>
                                    <div class="col-sm-8 col-md-9 col-lg-10">
                                        <select class="city form-control" data-value="石家庄市">
                                            <option>请选择</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <lable class="col-sm-4 col-md-3 col-lg-2 control-label">地区</lable>
                                    <div class="col-sm-8 col-md-9 col-lg-10">
                                        <select class="area form-control" data-value="长安区">
                                            <option>请选择</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <div class="col-sm-12">您选择的地址是：<span>重庆市</span><span>重庆市</span><span>渝北区</span></div>
                </div>
            </div>
        </div>
    </div>


</div>
<div th:replace="demo/fragments :: bottom"></div>
<script type="text/javascript">
    $.validator.setDefaults({
        submitHandler:function () {
            alert("submitted!");
        }
    });

    $( document ).ready( function () {
        $( "#signupForm" ).validate( {
            rules: {
                firstname: "required",
                lastname: "required",
                username: {
                    required: true,
                    minlength: 2
                },
                password: {
                    required: true,
                    minlength: 5
                },
                confirm_password: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                },
                email: {
                    required: true,
                    email: true
                },
                agree: "required"
            },
            messages: {
                firstname: "请输入 firstname",
                lastname: "Please enter your lastname",
                username: {
                    required: "Please enter a username",
                    minlength: "Your username must consist of at least 2 characters"
                },
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                confirm_password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo: "Please enter the same password as above"
                },
                email: "Please enter a valid email address",
                agree: "Please accept our policy"
            },
            errorElement: "em",
            errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-8" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-8" ).addClass( "has-success" ).removeClass( "has-error" );
            }
        } );
    } );

    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        pickerPosition: "bottom-left"
    });
    var start = new Date();
    var mydate = start.getFullYear() + "-" + (start.getMonth() + 1) + "-" + start.getDate();
    $("#currentDate").val(mydate);
    var end = new Date();
    end.setFullYear(2017,10,20);
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        startDate:start,
        endDate:end,
        forceParse: 0,
        pickerPosition: "bottom-left"
    });
    $('.form_time').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0,
        pickerPosition: "bottom-left"
    });

    /*<![CDATA[*/
    (function() {
        urlChina = "../../plugin/cxSelect/js/cityData.min.json";

        $.cxSelect.defaults.url = urlChina;
        // 默认
        $('#city_china').cxSelect({
            url: urlChina,
            selects: ['province', 'city', 'area'],
            nodata: 'none'
        });
    })();
    /*]]>*/

    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content1"]', {
        });
        prettyPrint();
    });

    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content2"]', {
            items:['source', '|', 'undo', 'redo', '|', '/','preview', 'print', 'template']
        });
        prettyPrint();
    });
</script>
</body>
</html>
