<!DOCTYPE html>
<html lang="zh" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录页面</title>
    <link rel="stylesheet" href="../../static/plugin/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}" />

    <script type="text/javascript" src="../../static/plugin/jquery-1.12.4/jquery-1.12.4.min.js" th:src="@{/plugin/jquery-1.12.4/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" src="../../static/plugin/jquery-validation-1.17.0/jquery.validate.js" th:src="@{/plugin/jquery-validation-1.17.0/jquery.validate.js}"></script>
    <script type="text/javascript" src="../../static/plugin/bootstrap-3.3.7/js/bootstrap.js" th:src="@{/plugin/bootstrap-3.3.7/js/bootstrap.js}"></script>
    <style type="text/css">
        .starter-template {
            padding: 30px 15px;
            text-align: center;
        }
        .logo img{ height: 50px; display: inline-block;}
    </style>


</head>
<body>

<div style="background:lightseagreen url('../../../images/0201.jpg') center no-repeat; height: 300px; width: 100%; position: fixed; top: 0; z-index: 0;"></div>
<div class="modal show" style="margin: 50px 0 0 0;">
    <div class="modal-dialog">
        <div class="starter-template logo text-left"><img src="../../static/images/logo.png" th:src="@{/images/logo.png}"/></div>
        <div class="panel panel-default">
                <div class="panel-body starter-template">
                    <div class="starter-template col-md-6 carousel slide hidden-xs hidden-sm" style="" id="carousel" data-ride="carousel" data-interval="3000">
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../../../static/images/register-ad.png" th:src="@{/images/register-ad.png}" />
                            </div>
                            <div class="item">
                                <img src="../../../static/images/register-ad.png" th:src="@{/images/register-ad.png}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>使用账号密码登录</h3>
                        <form id="loginForm" name="loginForm" class="text-left" th:action="@{/login/login}" action="/login/login" method="POST">
                            <div class="form-group">
                                <!--<label for="username">账号</label>-->
                                <input type="text" id="username"  class="form-control input-lg" name="username" value="" th:value="${username}"  placeholder="账号" />
                            </div>
                            <div id="passwordArea" class="form-group">
                                <!--<label for="password">密码</label>-->
                                <input type="password" id="password" class="form-control input-lg" name="password" th:value="${password}" placeholder="密码" />
                            </div>
                            <p th:if="${param.logout}" class="text-primary sr-only">已成功注销</p>

                            <small th:if="${message}"><span class="badge alert-danger pull-left">!</span><p class="text-danger" th:text="${message}"></p></small>

                            <small th:if="${param.error}" class="sr-only"><span class="badge alert-danger pull-left">!</span><p class="text-danger" th:text="${errorCode}">有错误，请重试</p></small>

                            <small th:if="${param.error}"><span class="badge alert-danger pull-left">!</span><p class="text-danger" th:text="${errorMessage}">有错误，请重试</p></small>
                            <div class="form-group">
                                <input type="submit" id="login" value="Login" class="btn btn-primary btn-block input-lg" />
                            </div>
                            <div class="text-right">还没有账号，<a th:href="@{/register/toRegister}">立即注册&nbsp;<span class="glyphicon glyphicon glyphicon-log-in" aria-hidden="true"></span></a></div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>


<script type="text/javascript"  th:inline="javascript">
    $( document ).ready( function () {
        var loginFailFlag = [[${loginFailFlag}]];

        displayImageCode(loginFailFlag);

        initFoucus();

        addCheck();
    } );

    function addCheck() {
        $( "#loginForm" ).validate( {
            rules: {
                username: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                password: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                }
            },
            messages: {
                username: {
                    required: "请输入登录名",
                    minlength: "登录名至少3个字符",
                    maxlength: "登录名最多20个字符"
                },
                password: {
                    required: "请输入密码",
                    minlength: "密码至少3个字符",
                    maxlength: "密码最多20个字符"
                }
            },
            errorElement: "small",
            errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            }
        });

        if ($("#imageCodeArea").length > 0) {
            $("#imageCode").rules("add", {required: true, messages: {required: "请输入验证码2"}});
        }
    }

    $("#username").blur(function(){
        var username =$("#username").val();
        if(null == username || username==""){
            return
        };

        var loginFailFlag = true;
        $.ajaxSettings.async = false;
        $.get( "/login/checkUsername", {
            username: username
        }, function( data ) {
            loginFailFlag = data.result;
        },'json' );
        displayImageCode(loginFailFlag);
        addRule();
    });

    function displayImageCode(flag) {
        //需要图形验证码校验
        if (flag) {
            //没有添加图形验证码区域
            if ($("#imageCodeArea").length<=0) {
                var html = '<div id="imageCodeArea" class="input-group">';
                html += '<input type="text" maxlength="4" class="form-control" id="imageCode" name="imageCode" th:value="${imageCode}" data-validation-engine="validate[required]" placeholder="请输入随机验证码" />';
                html += '<input type="hidden" name="imageCodeType" value="personLogin"/>';
                html +='<div class="input-group-btn">';
                html += '<img id="changeCodeBtn" class="code" alt="验证码" title="看不清，换一张"/>';
                html +='</div>';
                html += '</div>';
                $('#passwordArea').after(html);
                $("#changeCodeBtn").click(function () {
                    $(this).attr("src", "/imageCode/getCode?imageCodeType=personLogin&date" + new Date().getTime());
                });
            }
            //自动获取图形验证码
            $('#changeCodeBtn').trigger("click");
        }
    }



    function initFoucus() {
        var errorCode = [[${errorCode}]];

        if(errorCode == 'BadCredentialsException'){
            $("#username")[0].focus();
            $("#username").val();
        }else if(errorCode == 'BadCredentialsException'){
            $("#password")[0].focus();
            $("#password").val();
        }else if(errorCode == 'ImageCodeException'){
            $("#imageCode")[0].focus();
            $("#imageCode").val();
        }else {
            $("#username")[0].focus();
        }
    }

    function addRule() {
        if ($("#imageCodeArea").length > 0) {
            $("#imageCode").rules("add", {required: true, messages: {required: "请输入验证码1"}});
        }
    }
</script>

</body>
</html>